/* Colors Variable */
$color_beige: #dbd4a0;
$color_red: #962e0a;
$color_orange: #ff5115;

@font-face {
  font-family: jostMedium;
  src: url("fonts/Jost/static/Jost-Medium.ttf");
}

@font-face {
  font-family: spacemonoBold;
  src: url("fonts/Space_Mono/SpaceMono-Bold.ttf");
}

@mixin jost_med_16($color) {
  font-family: jostMedium;
  font-size: 1rem;
  color: $color;
}

@mixin space_bold_24($color) {
  font-family: spacemonoBold;
  font-size: 1.5rem;
  color: $color;
}

// Flexbox Mixin
@mixin flex($display, $justify, $align) {
  display: $display;
  justify-content: $justify;
  align-items: $align;
}

